body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li, ol li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

form {
    max-width: 300px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

iframe {
    border: none;
}
